<p><%= link_to "← Back to Home", root_path %></p>
<p><%= link_to "View Cart (#{cart_count})", cart_path %></p>

<h1>Our Candles</h1>

<% @products.group_by(&:category).each do |category, products| %>
  <h2><%= category.name %></h2>
  <ul>
    <% products.each do |product| %>
      <li>
       <strong><%= link_to product.name, product_path(product) %></strong>
        <p><%= product.description %></p>
        <% if product.starting_price %>
          <p>Starting from: $<%= product.starting_price %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
