<!DOCTYPE html>
<html>
  <head>
    <title>Heaven Candles</title>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <div class="container mt-4">
      <% if notice %>
        <div class="alert alert-success alert-dismissible"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
